#loading-container {
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	top: 0;
	width: calc(100vw - 50px);
	height: 100vh;
	z-index: 25;
	left: 0;
	display: grid;
	place-items: center;
	background-color: #080d0e;
}
#loading-gif {
	max-width: 100%;
	border-radius: 25px;
}