#news-content-container {
	display: grid;
	place-items: center;
}
#news-content {
	margin-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid white;
	border-radius: 15px;
	min-width: 50vw;
	display: grid;
	place-items: center;
}
#content-header {
	line-height: 4rem !important;
}